{% extends "core/base.html" %}
{% block title %}{{skiboard['brand']}} {{skiboard['model']}}{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div id="title" class="col-md-6 offset-md-3">
            <h1>Edit {{skiboard['category']}}</h1>
            <h3>{{skiboard['brand']}} {{skiboard['model']}} - {{skiboard['year']}}</h3>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-3">
            <p>IMAGE</p>
        </div>
        <div class="col-md-3 offset-md-1" id="details">
            <h4>DETAILS</h4>
        </div>
    </div>
    
</div>
{% endblock %}