{% extends "core/base.html" %}
{% block title %}{{skiboard['brand']}} {{skiboard['model']}}{% endblock %}
{% block top_content %}
<div class="container">
    <form class="form-inline" id="edit-form" name="editForm" action="#" method="post" onsubmit="return validateNewImport('skiForm');">
        <div class="row banner">

            <!-- SkiBoard Title -->
            <div id="title" class="col-md-6 offset-md-3">
                <h1>{{skiboard['brand']}} {{skiboard['model']}}</h1>
                <h3>{{skiboard['year']}}</h3>
                <br>
            </div>

            <!-- SkiBoard Description -->
            <div class="col-md-8 offset-md-2">
                <textarea class="form-control" placeholder="Enter a description here..." name="description" cols="40" rows="4">{{skiboard['description']}}</textarea>
            </div>
            

            <!-- SkiBoard Stiffness -->
            <div class="slidecontainer col-md-8 offset-md-2">
                <label for="stiffness">Stiffness: {{ skiboard['stiffness']}}</label>
                <br>
                <input class="form-control" placeholder="5" name="stiffness" type="range" min="0" max="10" value="{{ skiboard['stiffness']}}" class="slider" id="stiffnessSlider">
            </div>

            <!-- SkiBoard Shape / Camber Profile -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="shape">Shape:</label>
                        <input class="form-control" placeholder="Directional" name="shape" value="{{ skiboard['shape']}}">
                    </div>
                    <div class="col">
                        <label for="camberprofile">Camber Profile:</label>
                        <input class="form-control" placeholder="Full Camber" name="camberprofile" value="{{ skiboard['camber_profile']}}">
                    </div>
                    <div class="col">
                        <label for="camberdetails">Camber Details:</label>
                        <input class="form-control" placeholder="PurePop Camber" name="camberdetails" value="{{ skiboard['camber_details'] }}">
                    </div>
                    <div class="col">
                        <label for="flexprofile">Flex Profile:</label>
                        <input class="form-control" placeholder="Twin Flex" name="flexprofile" value="{{ skiboard['flex_profile'] }}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Core / Core Profiling -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="core">Core:</label>
                        <input class="form-control" placeholder="Poplar" name="core" value="{{ skiboard['core']}}">
                    </div>
                    <div class="col">
                        <label for="coreprofiling">Core Profiling:</label>
                        <input class="form-control" placeholder="Squeezebox" name="coreprofiling" value="{{ skiboard['core_profiling']}}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Edges / Edge Tech -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="edges">Edges:</label>
                        <input class="form-control" placeholder="Steel" name="edges" value="{{ skiboard['edges']}}">
                    </div>
                    <div class="col">
                        <label for="edgetech">Edge Tech:</label>
                        <input class="form-control" placeholder="Magne Traction" name="edgetech" value="{{ skiboard['edge_tech']}}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Laminates / Fibreglass / Resin -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="fibreglass">Fibreglass:</label>
                        <input class="form-control" placeholder="Biax / Triax" name="fibreglass" value="{{ skiboard['fibreglass']}}">
                    </div>
                    <div class="col">
                        <label for="laminates">Laminates:</label>
                        <input class="form-control" placeholder="Carbon" name="laminates" value="{{ skiboard['laminates']}}">
                    </div>
                    <div class="col">
                        <label for="resin">Resin:</label>
                        <input class="form-control" placeholder="SuperSap Epoxy" name="resin" value="{{ skiboard['resin']}}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Base / Topsheet / Sidewall -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="base">Base:</label>
                        <input class="form-control" placeholder="Sintered" name="base" value="{{ skiboard['base']}}">
                    </div>
                    <div class="col">
                        <label for="topsheet">Topsheet:</label>
                        <input class="form-control" placeholder="Real Wood Vaneer" name="topsheet" value="{{ skiboard['topsheet']}}">
                    </div>
                    <div class="col">
                        <label for="sidewall">Sidewall:</label>
                        <input class="form-control" placeholder="ABS Sidewall" name="sidewall" value="{{ skiboard['sidewall']}}">
                    </div>
                </div>   
            </div>
            
        </div>
        
        <!-- SkiBoard Data Table -->
        {% if sizes %}
        <div class="row datatable">
            <br><p></p><br><p></p><br>
            <div id="table" class="col-md-6 offset-md-3">
                <table class='table table-dark table-striped'>
                    <tr>
                        <th>Size</th>
                        {% for size in sizes %}
                        <td name="size_{{loop.index}}" contenteditable='true' class="size {{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size.size }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Nose Width</th>
                        {% for size in sizes %}
                        <td name="nose_width_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['nose_width'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Waist Width</th>
                        {% for size in sizes %}
                        <td name="waist_width_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['waist_width'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Tail Width</th>
                        {% for size in sizes %}
                        <td name="tail_width_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['tail_width'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Sidecut</th>
                        {% for size in sizes %}
                        <td name="sidecut_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['sidecut'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Effective Edge</th>
                        {% for size in sizes %}
                        <td name="effective_edge_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['effective_edge'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Setback</th>
                        {% for size in sizes %}
                        <td name="setback_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['setback'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Factory Mounting Point</th>
                        {% for size in sizes %}
                        <td name="factory_mounting_point_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['factory_mounting_point'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Freestyle Mounting Point</th>
                        {% for size in sizes %}
                        <td name="freestyle_mounting_point_{{loop.index}}" contenteditable='true' class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['freestyle_mounting_point'] }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            
            
        </div>
        {% else %}
        <div class="datatable">
            <br>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div id="table">
                        <!-- Find a way to centralise this input box-->
                        <textarea class="form-control" name="raw-data" placeholder="Please enter a data table for this Ski / Snowboard" cols="100" rows="20"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 offset-md-4" id="save">
                    <input class="form-control btn btn-light" type="submit" value="Save">
                </div>
            </div>
            <br>
        </div>
    </form>
    {% endif %}
    <script src="/static/scripts/add_edit.js"></script>
</div>
{% endblock %}