{% extends "core/base.html" %}
{% block title %}{{skiboard['brand']}} {{skiboard['model']}}{% endblock %}
{% block top_content %}
<div class="container">
    <form class="form-inline" id="edit-form" name="editForm" action="#" method="post" onsubmit="return validateNewImport('skiForm');">
        <div class="row banner">

            <!-- SkiBoard Title -->
            <div id="title" class="col-md-6 offset-md-3">
                <h1>{{skiboard['brand']}} {{skiboard['model']}}</h1>
                <h3>{{skiboard['year']}}</h3>
                <br>
            </div>

            <!-- SkiBoard Description -->
            <div class="col-md-8 offset-md-2">
                <textarea class="form-control" placeholder="Enter a description here..." name="description" cols="40" rows="4">{{skiboard['description']}}</textarea>
            </div>
            

            <!-- SkiBoard Stiffness -->
            <div class="slidecontainer col-md-8 offset-md-2">
                <label id="stiffnessLabel" for="stiffness">Stiffness: {{ skiboard['stiffness']}}</label>
                <br>
                <input id="stiffnessSlider" class="form-control stiffnessSlider slider" placeholder="5" name="stiffness" type="range" min="0" max="10" step="0.5" value="{{ skiboard['stiffness']}}" onchange="updateStiffness()">
            </div>

            <!-- SkiBoard Shape / Camber Profile -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="shape">Shape:</label>
                        <input class="form-control" placeholder="Directional" name="shape" value="{{ skiboard['shape']}}">
                    </div>
                    <div class="col">
                        <label for="camberprofile">Camber Profile:</label>
                        <input class="form-control" placeholder="Full Camber" name="camberprofile" value="{{ skiboard['camber_profile']}}">
                    </div>
                    <div class="col">
                        <label for="camberdetails">Camber Details:</label>
                        <input class="form-control" placeholder="PurePop Camber" name="camberdetails" value="{{ skiboard['camber_details'] }}">
                    </div>
                    <div class="col">
                        <label for="flexprofile">Flex Profile:</label>
                        <input class="form-control" placeholder="Twin Flex" name="flexprofile" value="{{ skiboard['flex_profile'] }}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Core / Core Profiling -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="core">Core:</label>
                        <input class="form-control" placeholder="Poplar" name="core" value="{{ skiboard['core']}}">
                    </div>
                    <div class="col">
                        <label for="coreprofiling">Core Profiling:</label>
                        <input class="form-control" placeholder="Squeezebox" name="coreprofiling" value="{{ skiboard['core_profiling']}}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Edges / Edge Tech -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="edges">Edges:</label>
                        <input class="form-control" placeholder="Steel" name="edges" value="{{ skiboard['edges']}}">
                    </div>
                    <div class="col">
                        <label for="edgetech">Edge Tech:</label>
                        <input class="form-control" placeholder="Magne Traction" name="edgetech" value="{{ skiboard['edge_tech']}}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Laminates / Fibreglass / Resin -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="fibreglass">Fibreglass:</label>
                        <input class="form-control" placeholder="Biax / Triax" name="fibreglass" value="{{ skiboard['fibreglass']}}">
                    </div>
                    <div class="col">
                        <label for="laminates">Laminates:</label>
                        <input class="form-control" placeholder="Carbon" name="laminates" value="{{ skiboard['laminates']}}">
                    </div>
                    <div class="col">
                        <label for="resin">Resin:</label>
                        <input class="form-control" placeholder="SuperSap Epoxy" name="resin" value="{{ skiboard['resin']}}">
                    </div>
                </div>
            </div>

            <!-- SkiBoard Base / Topsheet / Sidewall -->
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label for="base">Base:</label>
                        <input class="form-control" placeholder="Sintered" name="base" value="{{ skiboard['base']}}">
                    </div>
                    <div class="col">
                        <label for="topsheet">Topsheet:</label>
                        <input class="form-control" placeholder="Real Wood Vaneer" name="topsheet" value="{{ skiboard['topsheet']}}">
                    </div>
                    <div class="col">
                        <label for="sidewall">Sidewall:</label>
                        <input class="form-control" placeholder="ABS Sidewall" name="sidewall" value="{{ skiboard['sidewall']}}">
                    </div>
                </div>   
            </div>
            
        </div>
        
        <!-- SkiBoard Data Table -->
        <div class="row banner">
            {% if sizes %}
            <input hidden name="num_sizes" value="{{sizes|length}}">
            {% for size in sizes %}
            <input hidden name="size_{{loop.index}}" id="size_hidden_{{loop.index}}" value="{{size.size}}">
            <input hidden name="nose_width_{{loop.index}}"  id="nose_width_hidden_{{loop.index}}" value="{{size['nose_width']}}">
            <input hidden name="waist_width_{{loop.index}}"  id="waist_width_hidden_{{loop.index}}" value="{{size['waist_width']}}">
            <input hidden name="tail_width_{{loop.index}}"  id="tail_width_hidden_{{loop.index}}" value="{{size['tail_width']}}">
            <input hidden name="sidecut_{{loop.index}}"  id="sidecut_hidden_{{loop.index}}" value="{{size['sidecut']}}">
            <input hidden name="effective_edge_{{loop.index}}"  id="effective_edge_hidden{{loop.index}}" value="{{size['effective_edge']}}">
            <input hidden name="setback_{{loop.index}}"  id="setback_hidden_{{loop.index}}" value="{{size['setback']}}">

            {% if skiboard['category'] == 'ski' %}
            <input hidden name="factory_mounting_point_{{loop.index}}" id="factory_mounting_point_hidden_{{loop.index}}" value="{{size['factory_mounting_point']}}">
            <input hidden name="freestyle_mounting_point_{{loop.index}}" id="freestyle_mounting_point_hidden_{{loop.index}}" value="{{size['freestyle_mounting_point']}}">
            {% endif %}


            {% endfor %}
            <div id="table" class="col-md-6 offset-md-3">
                <table class='table table-dark table-striped'>
                    <tr>
                        <th>Size</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="size_{{loop.index}}" class="size {{loop.index}}" onkeyup="updateHiddenVals('size/{{loop.index}}')">{{ size.size }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Nose Width</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="nose_width_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('nose_width/{{loop.index}}')">{{ size['nose_width'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Waist Width</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="waist_width_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('waist_width/{{loop.index}}')">{{ size['waist_width'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Tail Width</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="tail_width_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('tail_width/{{loop.index}}')">{{ size['tail_width'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Sidecut</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="sidecut_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('sidecut/{{loop.index}}')">{{ size['sidecut'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Effective Edge</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="effective_edge_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('effective_edge/{{loop.index}}')">{{ size['effective_edge'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Setback</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="setback_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('setback/{{loop.index}}')">{{ size['setback'] }}</td>
                        {% endfor %}
                    </tr>
                    {% if skiboard['category'] == 'ski' %}
                    <tr>
                        <th>Factory Mounting Point</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="factory_mounting_point_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('factory_mounting_point/{{loop.index}}')">{{ size['factory_mounting_point'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Freestyle Mounting Point</th>
                        {% for size in sizes %}
                        <td contenteditable='true' id="freestyle_mounting_point_{{loop.index}}" class="{{loop.index}}" onkeyup="updateHiddenVals('freestyle_mounting_point/{{loop.index}}')">{{ size['freestyle_mounting_point'] }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                </table>
            </div>
            {% else %}
            <div class="col-md-6 offset-md-3" id="table">
                <!-- Find a way to centralise this input box-->
                <textarea class="form-control" name="raw_data" placeholder="Please enter a data table for this Ski / Snowboard"  rows="15"></textarea>
            </div>
            {% endif %}
            <div class="col-md-4 offset-md-4" id="save">
                <input class="form-control btn btn-light" type="submit" value="Save">
            </div>
        </div>
    </form>
    <div>
        <script src="/static/scripts/add_edit.js"></script>
    </div>
</div>
{% endblock %}