{% extends "core/base.html" %}
{% block title %}Imports{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner main-banner-dark">
        <div class="col-sm-6 offset-sm-3">
            <h1>Imports</h1>
            <br>
            {% if active_import %}
            <p>Would you like to continue importing <a href="/import/{{ active_import['id'] }}/{{ active_import['progress'] }}">{{ active_import['name'] }}</a>?</p>
            {% else %}
            <p>Let's start with the basics. What would you like to import?</p>
            {% endif %}
        </div>
        <div class="col-md-3 offset-md-3">
            <button class="btn btn-dark btn-block upload" onclick="startImport('ski')">Ski</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-dark btn-block upload" onclick="startImport('board')">Snowboard</button>
            
        </div>
        <div class="col-sm-6 offset-sm-3"></div>
        <div class="col-sm-6 offset-sm-3"></div>
    </div>
    
    <div id="board_import_1" class="row results" hidden>
        <div class="col-md-6 offset-md-3">
            <h1>Import a Snowboard</h1>
            <p>Tell us more!</p>
            <br>
            <form id="snowboard-import-form" name="sbForm" action="#" method="post" onsubmit="return validateNewImport('sbForm');">
                <input type="text" id="brand" name="brand" placeholder="Brand">
                <input type="text" id="model" name="model" placeholder="Model">
                <input type="text" id="year" name="year" placeholder="Year">
                <br><input type="hidden" type="text" id="category" name="category" value="Snowboard"><br>
                <input class="btn btn-light" type="submit" value="Start">
            </form>
        </div>
    </div>

    <div id="ski_import_1" class="row results" hidden>
        <div class="col-md-6 offset-md-3">
            <h1>Import a Ski</h1>
            <p>Tell us more!</p>
            <br>
            <form id="ski-import-form" name="skiForm" action="#" method="post" onsubmit="return validateNewImport('skiForm');">
                <input type="text" id="brand" name="brand" placeholder="Brand">
                <input type="text" id="model" name="model" placeholder="Model">
                <input type="text" id="year" name="year" placeholder="Year">
                <br><input type="hidden" type="text" id="category" name="category" value="Ski"><br>
                <input class="btn btn-light" type="submit" value="Start">
            </form>
        </div>
    </div>
    <script src="/static/scripts/imports.js"></script>
</div>
{% endblock %}