{% extends "core/base.html" %}
{% block title %}{{skiboard['brand']}} {{skiboard['model']}}{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">

        <!-- SkiBoard Title -->
        <div id="title" class="col-md-6 offset-md-3">
            <h1>{{skiboard['brand']}} {{skiboard['model']}}</h1>
            <h3>{{skiboard['year']}}</h3>
        </div>

        <!-- SkiBoard Description -->
        {% if skiboard['description'] not in ['None', None] %}
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <p>{{skiboard['description']}}</p>
            </div>
        </div>
        {% endif %}

        <!-- SkiBoard Stiffness -->
        {% if skiboard['stiffness'] not in ['None', None] %}
        <div class="slidecontainer col-md-6 offset-md-3">
            <div class="row">
                <div class="col">
                    <label for="stiffness">Stiffness: {{ skiboard['stiffness']}}</label>
                    <br>
                    <input disabled name="stiffness" class="form-control stiffnessSlider slider" type="range" min="0" max="10" value="{{ skiboard['stiffness']}}" class="slider" id="stiffnessSlider">
                </div>
            </div>
        </div>
        {% endif %}

        <!-- SkiBoard Shape / Camber Profile -->
        {% if skiboard['shape'] not in ['None', None] or skiboard['camber_profile'] not in ['None', None] %}
        <div class="col-md-6 offset-md-3">
            <div class="row">
                {% if skiboard['shape'] not in ['None', None] %}
                <div class="col">
                    <label for="shape">Shape:</label>
                    <input disabled name="shape" class="form-control" value="{{ skiboard['shape']}}">
                </div>
                {% endif %}
                
                {% if skiboard['camber_profile'] not in ['None', None] %}
                <div class="col">
                    <label for="camberprofile">Camber Profile:</label>
                    {% if skiboard['camber_details'] %}
                    <input disabled name="camberprofile" class="form-control" value="{{ skiboard['camber_profile']}} [ {{ skiboard['camber_details'] }} ]">
                    {% else %}
                    <input disabled name="camberprofile" class="form-control" value="{{ skiboard['camber_profile']}}">
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <!-- SkiBoard Core / Core Profiling -->
        {% if skiboard['core'] not in ['None', None] or skiboard['core_profiling'] not in ['None', None] %}
        <div class="col-md-6 offset-md-3">
            <div class="row">
                {% if skiboard['core'] not in ['None', None] %}
                <div class="col">
                    <label for="core">Core:</label>
                    <input disabled name="core" class="form-control" value="{{ skiboard['core']}}">
                </div>
                {% endif %}
                {% if skiboard['core_profiling'] not in ['None', None] %}
                <div class="col">
                    <label for="coreprofiling">Core Profiling:</label>
                    <input disabled name="coreprofiling" class="form-control" value="{{ skiboard['core_profiling']}}">
                </div>
                {% endif %}
            </div>
            
            
            
        </div>
        {% endif %}

        <!-- SkiBoard Edges / Edge Tech -->
        {% if skiboard['edges'] not in ['None', None] or skiboard['edge_tech'] not in ['None', None] %}
        <div class="col-md-6 offset-md-3">
            <div class="row">
                {% if skiboard['edges'] not in ['None', None] %}
                <div class="col">
                    <label for="edges">Edges:</label>
                    <input disabled name="edges" class="form-control" value="{{ skiboard['edges']}}">
                </div>
                {% endif %}
                {% if skiboard['edge_tech'] not in ['None', None]  %}
                <div class="col">
                    <label for="edgetech">Edge Tech:</label>
                    <input disabled name="edgetech" class="form-control" value="{{ skiboard['edge_tech']}}">
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <!-- SkiBoard Laminates / Fibreglass / Resin -->
        {% if skiboard['laminates'] not in ['None', None] or skiboard['fibreglass'] not in ['None', None] or skiboard['resin'] not in ['None', None] %}
        <div class="col-md-6 offset-md-3">
            <div class="row">
                {% if skiboard['fibreglass'] not in ['None', None] %}
                <div class="col">
                    <label for="fibreglass">Fibreglass:</label>
                    <input disabled name="fibreglass" class="form-control" value="{{ skiboard['fibreglass']}}">
                </div>
                {% endif %}
                {% if skiboard['laminates'] not in ['None', None] %}
                <div class="col">
                    <label for="laminates">Laminates:</label>
                    <input disabled name="laminates" class="form-control" value="{{ skiboard['laminates']}}">
                </div>
                {% endif %}
                {% if skiboard['resin'] not in ['None', None] %}
                <div class="col">
                    <label for="resin">Resin:</label>
                    <input disabled name="resin" class="form-control" value="{{ skiboard['resin']}}">
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <!-- SkiBoard Base / Topsheet / Sidewall -->
        {% if skiboard['base'] not in ['None', None] or skiboard['topsheet'] not in ['None', None] or skiboard['sidewall'] not in ['None', None] %}
        <div class="col-md-6 offset-md-3">
            <div class="row">
                {% if skiboard['base'] != 'None' %}
                <div class="col">
                    <label for="base">Base:</label>
                    <input disabled name="base" class="form-control" value="{{ skiboard['base']}}">
                </div>
                {% endif %}
                
                {% if skiboard['topsheet'] not in ['None', None] %}
                <div class="col">
                    <label for="topsheet">Topsheet:</label>
                    <input disabled name="topsheet" class="form-control" value="{{ skiboard['topsheet']}}">
                </div>
                {% endif %}

                {% if skiboard['sidewall'] not in ['None', None] %}
                <div class="col">
                    <label for="sidewall">Sidewall:</label>
                    <input disabled name="sidewall" class="form-control" value="{{ skiboard['sidewall']}}">
                </div>
                {% endif %}
            </div>
            
        </div>
        {% endif %}
        {% if not sizes and 'admin' in user['permissions'] %}
        <div class="col-md-4 offset-md-4">
            <row><br></row>
            <row>
                <a role="button" class="form-control btn btn-light" href="/edit/{{skiboard.slug}}/">Edit</a>
            </row>
        </div>
        {% endif %}
        
    </div>
    
    <!-- SkiBoard Data Table -->
    {% if sizes %}
    <div class="row datatable">
        <br><p></p><br><p></p><br>
        <div id="table" class="col-md-6 offset-md-3">
            <table class='table table-dark table-striped'>
                <tr>
                    <th>Size</th>
                    {% for size in sizes %}
                    <td class="size {{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size.size }}</td>
                    {% endfor %}
                </tr>
                {% if 'nose_width' in sizes[0] %}
                <tr>
                    <th>Nose Width</th>
                    {% for size in sizes %}
                    <td class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['nose_width'] }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% if 'waist_width' in sizes[0] %}
                <tr>
                    <th>Waist Width</th>
                    {% for size in sizes %}
                    <td class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['waist_width'] }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% if 'tail_width' in sizes[0] %}
                <tr>
                    <th>Tail Width</th>
                    {% for size in sizes %}
                    <td class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['tail_width'] }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% if 'sidecut' in sizes[0] %}
                <tr>
                    <th>Sidecut</th>
                    {% for size in sizes %}
                    <td class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['sidecut'] }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% if 'effective_edge' in sizes[0] %}
                <tr>
                    <th>Effective Edge</th>
                    {% for size in sizes %}
                    <td class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['effective_edge'] }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% if 'setback' in sizes[0] %}
                <tr>
                    <th>Setback</th>
                    {% for size in sizes %}
                    <td class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['setback'] }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% if 'stance_width' in sizes[0] %}
                <tr>
                    <th>Stance Width</th>
                    {% for size in sizes %}
                    <td class="{{loop.index}}" onclick="toggleSize('{{loop.index}}')">{{ size['stance_width'] }}</td>
                    {% endfor %}
                </tr>
                {% endif %}          
            </table>
        </div>
        

        <div class="col-md-2 offset-md-3">
            <p id="selected-sizes">[ ]</p>
        </div>
        <div class="col-md-2 offset-md-2">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add
                </a>
                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end">
                    <li><input class="btn btn-dark" type="button" id="add-to-compare" value="Add to Comparisons" onclick="addToCompare('{{ skiboard.id }}')"></li>
                    <!--<li><input class="btn btn-dark" type="button" id="add-to-quiver" value="Add to Quiver" onclick="addToQuiver('{{ skiboard.id }}')"></li>-->
                    <!--<li><a href="/edit/{{skiboard.slug}}/"><input class="btn btn-dark" type="button" id="edit-skiboard" value="Edit Details"></a></li>-->
                </ul>
            </div>
        </div>
        
        {% if 'admin' in user['permissions'] %}
        <div class="col-md-4 offset-md-4">
            <row>
                <a role="button" class="form-control btn btn-light" href="/edit/{{skiboard.slug}}/">Edit</a>
            </row>
        </div>
        {% endif %}
    </div>
    <row>
        <br>
    </row>
    {% endif %}
    <script src="/static/scripts/view_compare.js"></script>
</div>
{% endblock %}