{% extends "base.html" %}
{% block title %}View User: {{ user.fname}} {{ user.lname}} [ Admin ]{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Hello {{session.user.first_name}}</h1>
            <p>Here, you can see the details of a user.</p>
            <div class="form-outline">
                <input onkeyup="triggerSearch(event)" type="search" id="search_bar" class="form-control search search-bar" placeholder="search..." aria-label="Search" />
            </div>
        </div>
    </div>
    <div id="user_details" class="row">
        <div class="col-md-6 offset-md-3">
            <br>
        </div>
    </div>
</div>
{% endblock %}