{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <p>Already have an account? Enter your details below to sign in.</p>
            <form action="#" method="post">
                <p><input class="form-control" type="email" name="email" placeholder="email"></p>
                <p><input class="form-control" type="password" name="password" placeholder="password"></p>
                <p><input class="submit form-control" type="submit" name="submit" value="Login"\></p>
            </form>
            <a href="/login/forgot"><p>Forgot your password?</p></a>
            <a href="/signup"><p>Don't have an account? Sign up here!</p></a>
        </div>
    </div>
</div>
{% endblock %}