{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Sign Up</h1>
            <p>Fill in your details below to create a new account</p>
            <form action="/signup" method="post" id="signup_form">
                <input required type="text" name="fname" placeholder="first name">
                <input required type="text" name="lname" placeholder="last name">
                <br><br>
                <input required type="text" name="email" placeholder="email">
                <br><br>
                <input required type="password" name="password" placeholder="password">
                <input required type="password" name="password2" placeholder="confirm">
                <br><br>
                <p>Do you ski or snowboard?</p>
                <label for="ski">Ski</label><input type="checkbox" id="ski" name="ski" value="Ski">
                <label for="snowboard">Snowboard</label><input type="checkbox" id="snowboard" name="snowbaord" value="Snowboard">
                <select name="goofyreg" id="goofyreg" hidden>
                    <option value="regular">Regular</option>
                    <option value="goofy">Goofy</option>
                    <option value="unknown" selected>Unknown</option>
                </select>   
                <br><br>    
                <input class="submit" type="submit" name="submit" value="Signup"\>
                <br><br id="err_break" hidden>
                <p class="alert" id="error_msg"></p>
            </form>
            <a href="/login"><p>Already have an account? Sign in here!</p></a>
        </div>
    </div>
</div>
<script type="module" src="/static/scripts/auth.js"></script>
{% endblock %}