{% extends "core/base.html" %}
{% block title %}{{skiboard['brand']}} {{skiboard['model']}}{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>{{skiboard['brand']}} {{skiboard['model']}}</h1>
            <h3>{{skiboard['year']}}</h3>
            <br><br>
            <table class='table table-dark'>
            {% for key in skiboard['collections'][0].keys() %}
            {% if key != 'updated' %}
            <tr>
                <th>{{ key }}</th>   
                {% for collection in skiboard['collections'] %}
                <td>{{  collection[key]  }}</td>
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}