{% extends "core/base.html" %}
{% block title %}Imports{% endblock %}
{% block top_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row banner main-banner-dark">
        <div class="col-sm-6 offset-sm-3">
            <h1>Import a Ski or Snowboard</h1>
            <br>
        </div>
    </div>
    
    <div id="import-details" class="row" >
        <div class="col-md-6 offset-md-3">
            <form id="snowboard-import-form" name="sbForm" action="#" method="post" onsubmit="return validateNewImport('sbForm');">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Type...</option>
                    <option value="ski">Ski</option>
                    <option value="snowboard">Snowboard</option>
                </select>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Brand...</option>
                    {% for brand in brands %}
                    <option value="{{brand}}">{{brand}}</option>
                    {% endfor %}
                </select>

                <input class="form-input" type="text" id="model" placeholder="Model">
                <br>

                <input type="text" id="datepicker" placeholder="Date"/>
                <br>
                <br>
                
                <input class="btn btn-light" type="submit" value="Start">
            </form>
        </div>
    </div>


    <script src="/static/scripts/imports2.js"></script>

</div>
{% endblock %}