{% extends "core/base.html" %}
{% block title %}My Account{% endblock %}
{% block top_content %}
<div class="container fullscreen">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Hello {{ session.user.fname}}</h1>
            <p>Welcome to your What Snow account</p>
            <p>Here you can view or update your personal information and access your quiver</p>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark" id="btn_update_details" onclick="showDetails()">Update Details</button>
                </div>
            </div>
        </div>
    </div>
    <div id="update_details" class="row results main_banner_light" hidden>
        <div class="col-md-6 offset-md-3">
            <h1>Update Details</h1>
            <p>Let's make sure we're on the same page</p>
            <br>
            <form id="user_details" action="/update-user-details" method="post">
                <div class="row">
                    <div class="col">
                        <input type="text" id="fname" name="fname" placeholder="First Name" value="{{ session.user.fname }}">
                    </div>
                    <div class="col">
                        <input type="text" id="lname" name="lname" placeholder="Last Name" value="{{ session.user.lname }}">
                    </div>
                </div>
                <input class="btn btn-light" type="submit" value="Update">
            </form>
        </div>
    </div>
    <script src="/static/scripts/accounts/account.js"></script>
</div>
{% endblock %}
