{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Confirm your Import</h1>
            <p>How did we do?</p>
            <br>
        </div>
        <form id="import_details" action="#" method="post">
            <div class="col-md-6 offset-md-3">
                <label for="type">Type</label>
                <select name="type" id="type">
                    {% if data['type'] == "skis" %}
                    <option value="skis" selected>Skis</option>
                    <option value="snowboard">Snowboard</option>
                    {% else %}
                    <option value="skis">Skis</option>
                    <option value="snowboard" selected>Snowboard</option>
                    {% endif %}
                </select>
            </div>
            <br>
            <div class="col-md-6 offset-md-3">
                <table>
                    {% for param in data['params'] %}
                    <th><select>
                        {% for option in options %}
                            {% if option == param.matched %}
                            <option selected>{{ option }}</option>
                            {% else %}
                            <option>{{ option }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></th>
                    {% endfor %}
                    {% for x in sizes %}
                    <tr>
                        {% for param in data['params'] %}
                        <td>{{ param.vals[x] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
            <input class="btn btn-light" type="submit" value="Import">
        </form>
    </div>
</div>
{% endblock %}