{% extends "core/base.html" %}
{% block title %}Log In{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Reset Password</h1>
            <p>Forgot your password? Don't worry, let's get you back up and running!.</p>
            <form action="#" method="post" id="reset-form">
                <p><input class="form-control" type="text" name="email" placeholder="email" id="email"></p>
                <p><input class="submit form-control" type="submit" name="submit" value="Login"\></p>
                <br id="err-break" hidden>
                <p class="alert" id="error-msg" hidden></p>
            </form>
            <br>
            <a href="/login"><p>Want to log in?</p></a>
            <a href="/signup"><p>Don't have an account? Sign up here!</p></a>
        </div>
    </div>
</div>
<script type="module" src="/static/scripts/accounts/password_reset.js"></script>
{% endblock %}