:root{
    --dark: rgb(39, 39, 39);
    --dark-trans-9: rgba(39, 39, 39, 0.9);
    --dark-trans-5: rgba(39, 39, 39, 0.5);
    --mid-dark: rgb(60, 60, 60);
    --mid: rgb(70, 70, 70);
    --light: rgb(233, 233, 233);
    --v-light: rgb(245, 245, 245);
    --trans: rgba(255, 255, 255, 0)
}

html{
    background-color: var(--dark);
}

body{
    width: 100vw;
    height: 100vh;
    border: 0;
    margin: 0;
    padding: 0;
    background: var(--mid-dark);
    font-family: 'Raleway', sans-serif;
    background: var(--v-light)
}

.body{
    text-align: center;
}

.index{
    color: var(--light);
    width: 100vw;
    height: 100vh;
    background: url('/static/img/dark_snow_background.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.imports{
    color: var(--light);
    width: 100vw;
    height: 100vh;
    background: url('/static/img/light_snow_background_cropped.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.index .nav-link, .index .navbar-brand{
    color: var(--light);
}

.login{
    color: var(--mid);
}

.login .nav-link, .login .navbar-brand{
    color: var(--dark);
}

nav{
    margin-top: 2%;
    text-transform: uppercase;
    width: 100vw;
    color: var(--light);
}

.navbar{
    margin-left: 5%;
    width: calc(100vw - 10%);
    text-align: right;
}

.navbar-toggler{
    border-radius: 0;
    border-width: 0;
}

.navbar-toggler-icon{
    color: var(--mid);
}

.navbar .navbar-brand{
    font-size: 1.8em;
    font-weight: 700;
}

.navbar .navbar-nav{
    font-size: 1.2em;
}

.navbar .dropdown-menu{
    border-radius: 0;
    background-color: var(--dark-trans-9);
    text-align: right;
}


.banner{
    margin-top: 10%;
    transform: translateY(-10%);
}


.main_banner_light{
    color: var(--light);
    margin-top: 30vh;
    height: 65vh;
}

.main_banner_dark{
    color: var(--dark);
    margin-top: 30vh;
    height: 65vh;
}

.results{
    min-height: 50vh;
}

h1{
    font-weight: 100;
    text-transform: uppercase;
}

p{
    text-transform: lowercase;
}

.submit{
    text-transform: uppercase;
}
