{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Confirm your Import</h1>
            <p>Does everything look correct here?</p>
            <br>
        </div>
        <div class="col-md-6 offset-md-3">
            <form id="import_details" action="#" method="post">
                {% for param in import_params %}
                <label for={{param.name}}>{{param.name}}</label><input id={{param.name}} name={{param.name}} type="text">{{param.value}}</input>
                {% endfor %}
                <br>
                <input class="btn btn-light" type="submit" value="Upload">
            </form>
        </div>
    </div>
</div>
{% endblock %}