{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Forgot your password?</h1>
            <p>Enter your email address below to reset it.</p>
            <form action="#" method="post">
                <p><input type="text" name="email" placeholder="email"></p>
                <p><input class="submit" type="submit" name="submit" value="Reset"\></p>
            </form>
            <a href="/login"><p>Remember your password? Log in here!</p></a>
        </div>
    </div>
</div>
{% endblock %}