{% extends "base.html" %}
{% block title %}{{data['brand']}} {{data['model']}}{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>{{data['brand']}} {{data['model']}}</h1>
            <h3>{{data['year']}}</h3>
            <br><br>
            <table class='table table-dark'>
            {% for param_set in data['params'] %}
            <tr>
                <td><b>{{param_set['key']}}</b></td>
                {% for param in param_set['values'] %}
                <td>{{param}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}