:root{
    --dark: rgb(39, 39, 39);
    --dark-trans-9: rgba(39, 39, 39, 0.9);
    --dark-trans-5: rgba(39, 39, 39, 0.5);
    --mid-dark: rgb(60, 60, 60);
    --mid: rgb(70, 70, 70);
    --light: rgb(233, 233, 233);
    --v-light: rgb(245, 245, 245);
    --trans: rgba(255, 255, 255, 0);
    --primary: rgba(42, 98, 250, 1);
    --primary-light: rgb(101, 142, 255);
    --secondary: rgba(250, 191, 42, 1);
    --secondary-light: rgb(254, 210, 98);
}

html{
    background-color: var(--dark);
}

body{
    width: 100vw;
    height: 100vh;
    border: 0;
    margin: 0;
    padding: 0;
    background: var(--mid-dark);
    font-family: 'Raleway', sans-serif;
    background: var(--v-light)
}

.body{
    text-align: center;
}

.error{
    color: var(--dark);
    width: 100vw;
    height: 100vh;
    background: url('/static/img/ski_area_boundary_cropped.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.error h1{
    font-size: 150px;
}

.comingsoon{
    color: var(--dark);
    width: 100vw;
    height: 100vh;
    background: url('/static/img/comingsoon_background.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}


.index{
    color: var(--light);
    width: 100vw;
    background: url('/static/img/dark_snow_background.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.imports{
    color: var(--light);
    width: 100vw;
    height: 100vh;
    background: url('/static/img/light_snow_background_cropped.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.index .nav-link, .index .navbar-brand{
    color: var(--light);
}

.login{
    color: var(--mid);
}

.login .nav-link, .login .navbar-brand{
    color: var(--dark);
}

nav{
    margin-top: 2%;
    text-transform: uppercase;
    width: 100vw;
    color: var(--light);
}

.navbar{
    margin-left: 5%;
    width: calc(100vw - 10%);
    text-align: right;
}

.navbar-toggler{
    border-radius: 0;
    border-width: 0;
}

.navbar-toggler-icon{
    color: var(--mid);
}

.navbar .navbar-brand{
    font-size: 1.8em;
    font-weight: 700;
}

.navbar .navbar-nav{
    font-size: 1.2em;
}

.navbar .dropdown-menu{
    border-radius: 0;
    background-color: var(--dark-trans-9);
    text-align: right;
}


.banner{
    margin-top: 10%;
    transform: translateY(-10%);
    height: 70vh;
}


.main-banner-light{
    color: var(--light);
    margin-top: 30vh;
}

.main-banner-dark{
    color: var(--dark);
    margin-top: 30vh;
}

.results{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

h1{
    font-weight: 100;
    text-transform: uppercase;
}

p{
    text-transform: lowercase;
}

.lighttext{
    color: var(--light);
}


.submit{
    text-transform: uppercase;
}

.btn{
    min-width: 150px;
    border-radius: 0px;
}

.search-bar{
    border-radius: 0px;
}

.ui-datepicker-calendar {
    display: none;
    }


