{% extends "core/base.html" %}
{% block title %}Import Details{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner">
        <div class="col-md-6 offset-md-3">
            <h1>Import Details</h1>
            <p>Let's get into the numbers</p>
        </div>
        <div class="col-md-6 offset-md-3">
            <form id="import_details" action="" method="post">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="snowboard">Asym</label>
                    <input class="form-check-input" type="checkbox" id="asym-check" name="asym" value="Asym">
                </div>
                <label for="flex" class="form-label">Flex: </label>
                <output>5</output>
                <input type="range" class="form-range" id="flex" min="0" max="10" step="0.5" oninput="this.previousElementSibling.value = this.value">
                <select class="form-control" name="profile" id="profile">
                    <option value="" disabled selected>Profile</option>
                    {% for profile in profiles %}
                    <option value="{{ profile }}">{{ profile.replace('_', ' ').title() }}</option>
                    {% endfor %}
                </select>   
                <p>Paste your size chart below</p>
                <textarea id="data" name="data_table"class="form-control" rows="12"></textarea>
                <br>
                <input class="btn btn-dark" type="submit" value="Upload">
            </form>
        </div>
    </div>
</div>
{% endblock %}