{% extends "core/base.html" %}
{% block title %}My Account{% endblock %}
{% block top_content %}
<div class="container">
    <div class="row banner justify-content-center">
        <div class="col-auto">
            <h1>Confirm your Import</h1>
            <br>
        </div>
        <div class="col-auto">
            <form id="import_details" action="#" method="post">
                <label for="type">Type</label>
                <select name="type" id="type">
                    {% if skiboard['type'] == "skis" %}
                    <option value="skis" selected>Skis</option>
                    <option value="snowboard">Snowboard</option>
                    {% else %}
                    <option value="skis">Skis</option>
                    <option value="snowboard" selected>Snowboard</option>
                    {% endif %}
                </select>
                <br><br>
                <table>
                    {% for param in skiboard['params'] %}
                    <th><select>
                        <option>undefined</option>
                        {% for option in skiboard['params'] %}
                            {% if option == param %}
                            <option selected>{{ option.replace('_', ' ') }}</option>
                            {% else %}
                            <option>{{ option.replace('_', ' ') }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></th>
                    {% endfor %}
                    {% for x in range(skiboard['params']['size']|length) %}
                    <tr>
                        {% for param in skiboard['params'] %}
                        <td>{{ skiboard['params'][param][x] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <input class="btn btn-light" type="submit" value="Import">
            </form>
        </div>
        
    </div>
</div>
{% endblock %}