{% extends "core/base.html" %}
{% block title %}What
{% if site %}
{{site}}
{% else %}
Snow
{% endif %}
{% endblock %}
{% block top_content %}
<div class="container full_screen">
    <div class="row banner main_banner_light">
        <div class="col-md-6 offset-md-3">
            {% if site == 'board' %}
            <h1>Welcome to What {{site}}</h1>
            <p>The best place to compare snowboards online</p>
            {% elif site == 'ski' %}
            <h1>Welcome to What {{site}}</h1>
            <p>The best place to compare skis online</p>
            {% else %}
            <h1>Welcome to What Snow</h1>
            <p>The best place to compare skis and snowboards online</p>
            
            {% endif %}
            <div class="form-outline">
                <input onkeyup="triggerSearch(event)" type="search" id="search_bar" class="form-control search search-bar" placeholder="search..." aria-label="Search" />
            </div>
            <br>
            <a href="/advanced-search/"><p>Do you know your numbers? Try our Advanced Search.</p></a>
        </div>
    </div>
    <div id="div-results" class="row results" hidden>
        <div class="col-md-6 offset-md-3">
            <h1>Search Results</h1>
            <p>Here's what we found</p>
            <br>
            <table id="tbl-results" class="table table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody id="results">
                    <tr>
                        <td>Burton</td>
                        <td>Custom</td>
                        <td>2020</td>
                    </tr>
                    <tr>
                        <td>Jones</td>
                        <td>Flagship</td>
                        <td>2022</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/static/scripts/index.js"></script>
</div>
{% endblock %}
